
header iframe {
    height: 85px;
    overflow: hidden;
}

  body {
            margin: 0;
            font-family: sans-serif;
        }
        iframe {
            width: 100%;
            border: 0;
            overflow: hidden;
            display: block;
            min-height: 50px; /* fallback for unknown height */
        }
        header iframe {
            height: 75px;
        }
        footer iframe {
            min-height: 150px;
        }
        div#section-3 iframe{
            height: 100vh !important;
    overflow: hidden;
        }
        .Cloud-banner{
            height: 100vh;
            overflow: hidden;
        }
/* logo */
        #imsi {
    width: 100%;
    color: rgb(164, 96, 96);
    height: 40px;
}